.title {
    background-color: var(--primary-background-color);
    padding-top: 118px;
    padding-bottom: 118px;
        
    @media screen and (max-width: 767px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/title/title_mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/title/title_mobile-2x.jpg);
        }
    }
    
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/title/title_tablet.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/title/title_tablet-2x.jpg);
        }
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/title/title_desktop.jpg);
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/title/title_desktop-2x.jpg);
        }
    }
}

.title__text {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    margin: 0 auto 30px auto;

    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}