.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;  
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    transition: 
        background-color var(--transition), 
        box-shadow var(--transition);
    &:hover,
    &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.title__button--position {
    display: block;
    text-align: center;
    margin: auto;
}

.footer__button--position {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 29px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
    
    &:hover {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-button-icon {
    margin-left: 10px;
}

.button__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover .client-icon,
    &:focus .client-icon {
        fill: var(--accent-color);
    }
}




// -----MENU-----

.menu-open {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: transparent;    
    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.btn__menu-close {
    position: absolute;
        top: 21px;
        right: 25px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.form__button--position {
    display: block;
    font-family: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px 10px 56px;
}

.portfolio__button-list {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width: 767px){
    flex-wrap: wrap;
        }
    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        }
}

.portfolio__button-item {
    @media screen and (max-width: 767px) {
        margin-top: 15px;
    }
}

.portfolio__button-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    padding: 6px 22px;
    text-align: center;
    transition: 
        background-color var(--transition),
        box-shadow var(--transition);
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow:
            0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}
