.logo {
    @media screen and (max-width: 1199px) {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    }    
}

.header__logo {
    @media screen and (max-width: 767px) {
        padding: 16px 0;
    }

    @media screen and (min-width: 768px) {
        margin-right: 88px;
        padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        padding: 24px 0;
    }
}

.header__logo-studio--color {
    color: var(--black-color);
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo-studio--color {
    color: var(--white-color);
}