:root {
    --title-text-color: #212121;
    --primary-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --accent-color: #2196F3;
    --primary-font: 'Roboto', Tahoma, sans-serif;
    --secondary-font: 'Raleway', Tahoma, sans-serif;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
}
